main.login {
  min-height: 100%;

  background-size: cover;
  background-position: right;
  padding: 50px;
}
main.login {
  background-image: linear-gradient(
      to right,
      #282a37,
      #282a37 35%,
      rgba(40, 42, 55, 0.3)
    ),
    url("../../images/login.jpg");
}
main.login > section {
  width: 100%;
}
main.login > section > * {
  margin-top: 20px;
  margin-bottom: 20px;
}
#head-1 {
  font-size: 1rem;
  color: #6d757e;
  font-weight: bold;
}
#head-2 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: bold;
}
#login-link {
  font-size: 1rem;
  color: #6d757e;
  font-weight: 600;
}
#login-link > a {
  text-decoration: none;
  color: #1d90f3;
  padding-left: 5px;
  padding-right: 5px;
}
#form {
  width: 100%;
  max-width: 450px;
}
#form > * {
  margin-top: 16px;
  margin-bottom: 16px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container > * {
  width: 48%;
}

.label-container label {
  font-size: 1rem;
  color: #6d757e;
  font-weight: 600;
}

.label-container > * {
  margin-right: 8px;
  margin-left: 8px;
}

@media only screen and (max-width: 1000px) {
  main.login {
    background-image: linear-gradient(
        to right,
        #282a37 50%,
        rgba(40, 42, 55, 0.3)
      ),
      url("../../images/login.jpg");
  }
}

@media only screen and (max-width: 950px) {
  main.login {
    background-image: linear-gradient(
        to right,
        rgba(40, 42, 55, 0.6),
        rgba(40, 42, 55, 0.6)
      ),
      url("../../images/login.jpg");
  }
  main.login > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(40, 42, 55, 0.58);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
  }
  main.login > section > * {
    margin-top: 20px;
    margin-bottom: 0;
  }
}
