nav.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #282a37;
  overflow-x: hidden;
}

#profile {
  padding: 10px 25px;
  border-bottom: 2px solid #6d757e;
}

#profile > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 15px;
}

#profile > #name {
  color: #1d90f3;
  font-size: 1.2rem;
  font-weight: 600;
}

#profile > #email {
  color: #7c8793;
  font-size: 0.8rem;
  font-weight: 500;
}

#items {
  padding: 10px;
}

.sidebar-item {
  border-radius: 10px;
  margin: 10px 0;
  padding: 5px 10px;
  transition: all 0.2s ease-in-out;
}

.sidebar-item > a {
  display: flex;
  text-decoration: none;
  color: #b3c3d4;
  transition: all 0.2s ease-in-out;
}

.sidebar-item p {
  margin-left: 20px;
}

.sidebar-item i {
  font-size: 1.3rem;
  margin-top: 3px;
  width: 30px;
}

.sidebar-item:hover {
  background-color: #1d8ff31a;
}

.sidebar-item:hover > a {
  color: #fff;
  text-shadow: 0 0 15px #f1f1f1;
}

.sidebar-item.selected {
  background-color: #1d8ff3;
}

.sidebar-item.selected > a {
  color: #fff;
  text-shadow: none;
}
