html,
body,
#root,
.App {
  height: 100%;
}
* {
  font-family: "Montserrat", sans-serif;
}

::selection {
  background-color: #1d90f3;
  color: #fff;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
